<p>
  <strong><%= link_to "@" + comment.commenter, model_path(comment.model_id) %></strong>
  <%= comment.comment %>
  <% if comment.model_id == current_model.id %>
    <%= link_to "Delete", [comment.tweet, comment], method: :delete, data: {confirm: "Are you sure?"}, class:"btn btn-link btn-sm" %>
  <% end %>
</p>