<div class="container-fluid mr-3 ">  
  <div class="row mt-4">
    <div class="col">
      <%= render "leftcol"%>
    </div>
    <div class="col-7">
      <%= render "tweetscolumn"%>
    </div> 
    <div class="col">
      <%= render "rightcolumn"%>
    </div>
  </div>
</div>

  
  





